!!!
html(ng-app='myApp')
  head
    meta(charset='utf8')
    base(href='/')
    title Hitch-a-ride
    link(rel='stylesheet', href='/styles/bootstrap.amelia.min.css')
    link(rel='stylesheet', href='/styles/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/styles/main.css')
    link(rel='stylesheet', href='/styles/brand.css')
  body
    block body